<ng-container class="bg-cyan-600 ">
  <div class=" bg-orange-600 flex">
    <div  class="logo pl-[500px] ">
      <img src="../../../../../assets/images/customer/LogoStation.png" alt="" class="w-[115px] ml-50" >
    </div>
    <div class="menu flex-auto place-content-center ml-[100px]">
      <ul nz-menu nzMode="horizontal" class="bg-orange-600 border-b-0 " >
        <li nz-submenu nzPlacement="bottomLeft" nzTitle="Home" routerLink="/"></li>
        <li nz-submenu nzPlacement="bottomLeft" nzTitle="Search Tickets" routerLink="/timve"></li>


      </ul>
    </div>
  </div>

</ng-container>

